* {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body {
    
    background-image: url("./images/background.jpeg");
    background-size: 100%, 100%;
    
}

.navName {
    margin-bottom: 20 px;
    padding: 0px;
    margin-left: 5%;
}

.footer{
    text-align: center;  
    opacity: .7;
}
.projectOne {
    height: 300px;
    width: 350px;
}
.projectTwo {
    height: 300px;
    width: 350px;
}
.projectThree {
    height: 300px;
    width: 350px;
}
.projectFour {
    height: 300px;
    width: 350px;
}
.projectFive {
    height: 300px;
    width: 350px;
}
.projectSix {
    height: 300px;
    width: 350pxx;
}

.container-md {
   width: 75%;
   padding-bottom: 20%
}
.resume {
    text-align: center;
}

.portfolio {
    margin-bottom: 10px;
    
}
.portfolioheader {
    
        margin: 5px;
        color: #4aaaa5;
        font-weight: bold;    
}

.images{
    position: relative;
    float: left;
    margin-bottom: 50px;
}
   
   
   .images div {
    position: absolute;
    background: #4aaaa5;
    color: rgb(3, 3, 73);
    margin-top: 5px; 
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: visibility 0s, opacity 0.5s linear; 
    transition: visibility 0s, opacity 0.5s linear;
   }
   
   
   .images:hover{
    cursor: pointer;
   }
   
   .images:hover div {
    width: 345px;
    height: 290px;
    padding: 10px 15px;
    visibility: visible;
    opacity: 85%;
   }


h3 {
    padding: 10px;
    display: inline-block;
    color: white;
    background-color: none;

}

h1 {
    margin: 5px;
    color: #4aaaa5;
    font-weight: bold;
}

h2 {
    margin: 5px;
    color: #4aaaa5;
    font-weight: bold;
}

h4 {
    text-align: center;
}


.photo {
    margin: 10px;
    border-radius: 5px;
    width: 200px;
    height: 175px;
    float: left;
}

/* .badge {
    margin: 10px;
    border-radius: 5px;
    float: left;
} */



/* .card-img-top {
    margin-left: 2.5%;
    width: 300px;
    height: 200px;
} */

button {
    margin: 10px;
    padding: 10px;
    font-size: 18px;
    color: whitesmoke;
}

.form-group {
    margin: 10px;
    border-radius: 5px;
    
}

#myGitHub img {
    width: 32px;
    height: 32px;
}
#myLinkedIn img {
    width: 32px;
    height: 35px;
}

