* {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body {
    margin: 0;
    background-image: url("./images/background.jpeg");
    padding-bottom: 5px;
    height: 100%;
}

.navName {
    margin-bottom: 20 px;
    padding: 0px;
    margin-left: 5%;
}

.footer{
    text-align: center;  
    opacity: .7;
}

.jumbotron {
    margin: 0 5% 1% 5%;
    margin-top: 6%;
    opacity: .99;
}

.portfoliobox {
    margin-right: 9%;
    margin-left: 9%;
}

h3 {
    padding: 10px;
    display: inline-block;
    color: white;

}

h1 {
    margin: 5px;
    color: #4aaaa5;
    font-weight: bold;
}

h2 {
    margin: 5px;
    color: #4aaaa5;
    font-weight: bold;
}

h4 {
    text-align: center;
}


.photo {
    margin: 10px;
    border-radius: 5px;
    width: 200px;
    height: 175px;
    float: left;
}

.badge {
    margin: 10px;
    border-radius: 5px;
    float: left;
}



.card-img-top {
    margin-left: 2.5%;
    width: 300px;
    height: 200px;
}

button {
    margin: 10px;
    padding: 10px;
    font-size: 18px;
    color: whitesmoke;
}

.form-group {
    margin: 10px;
    border-radius: 5px;
    
}

#myGitHub img {
    width: 32px;
    height: 32px;
}
#myLinkedIn img {
    width: 32px;
    height: 35px;
}

